<nav class="navbar">
  <ul class="link-parent">
    <li class="header-link"><a href="/api/items">Home</a></li>
    <li class="header-link">
      <a href="/api/items/add">Add Task</a>
    </li>
  </ul>
</nav>